body {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
/* HERO SECTION */
.hero {
    position: relative;
    height: 90vh;
    background: url('bodyimg.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* BLUR + DARK OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(2px);   /* BLUR EFFECT */
    background: rgba(0, 0, 0, 0.4); /* DARK SHADE */

    top: 0;
    left: 0;
}

/* TEXT CONTENT */
.hero-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    font-size: 40px;
}

.hero-content button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 50px;
    text-align: center;
}

/* SERVICES */
/* CARD CONTAINER */
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* INDIVIDUAL CARD */
.card {
    position: relative;
    width: 250px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    transition: transform 0.3s ease;
}

/* HOVER EFFECT */
.card:hover {
    transform: scale(1.05);
}

/* DARK OVERLAY */
.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

/* TEXT ABOVE OVERLAY */
.card h3 {
    position: relative;
    z-index: 2;
}
.card:hover {
    transform: translateY(-5px);
}

/* GALLERY */
.gallery-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 25%;
    
    border-radius: 20px;
}

/* CONTACT */
.contact button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    padding: 10px;
}