body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/shop1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 50px;
    text-align: center;
}

/* SERVICES */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    background: #f1f5f9;
    border-radius: 10px;
    width: 150px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* GALLERY */
.gallery-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 30%;
    
    border-radius: 20px;
}

/* CONTACT */
.contact button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    padding: 10px;
}